<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../assets/style.css" />
    </head>
    <body>
        <%- include('partials/nav.ejs') %>
        <h1>Welcome to the profile of <%= person %></h1>
        <p><Strong>Age: </Strong><%= data.age %></p>
        <p><Strong>Job: </Strong><%= data.job %></p>

        <h2>Hobbies</h2>
        <ul>
            <% data.hobbies.forEach(function(item){ %>
            <li><%= item %></li>
            <% }) %>
        </ul>
    </body>
</html>
