<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <h1>Welcome to the profile of <%= person.name %></h1>
    <p>You won't find a website better anymore else!</p>
    <p>Your age is <%= person.age %></p>
    <p>Your height is <%= person.height %></p>
    <p>Your weight is <%= person.weight %></p>
    <p>Your role is <%= person.job %></p>
</body>
</html>