<!DOCTYPE html>
<html>
<head>
    <title>WA 02</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <%- include('./partials/nav'); %>
    <h1>Welcome to the profile of <%= person %></h1>
    <p><b>Age: </b><%= data.age %></p>
    <p><b>Job: </b><%= data.job %></p>
    <p><b>Weight: </b><%= data.weight %></p>
    <p><b>Height: </b><%= data.height %></p>
    <h2>Hobbies</h2>
    <ul>
        <% for(let i=0; i < data.hobbies.length; i++) { %>
            <li> <%= data.hobbies[i]; %> </li>
        <% } %>
    </ul>
</body>
</html>
