<!DOCTYPE html>
<html>
<head>
    <title>WA 02</title>
    <style>
        body {
            background: skyblue;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #fff;
            padding: 30px;
        }
        h1 {
            font-size: 48px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }
        p {
            font-size: 16px;
            text-align: center;
        }
    </style>
</head>
<body>
    <p>Hello, <%= person %>!</p>
    <!-- <h1>Welcome to the profile of <%= person %></h1>
    <p><b>Age: </b><%= data.age %?</p>
    <p><b>Job: </b><%= data.job %?</p>
    <p><b>Weight: </b><%= data.weight %?</p>
    <p><b>Height: </b><%= data.height %?</p> -->
</body>
</html>